* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}

header {
  background: #1b1a17;
  background: hsl(210deg 30% 8%);
  height: 100px;
  width: 100%;
}

label.logo {
  color: #ccae62;
  color: whitesmoke;
  opacity: 0.7;
  font-size: 35px;
  font-weight: bold;
  line-height: 100px;
  padding: 0 100px;
  margin-left: 100px;
  font-family: "DM Serif Display", serif;
}

header ul {
  float: right;
  margin-right: 150px;
  margin-top: 50px;
}

header ul li {
  margin-top: 0;
  padding: 0px;
  float: right;
  margin-left: 12px;
  line-height: 2px;
}

header ul li a {
  color: white;
  text-transform: uppercase;
  font-family: "RocknRoll One", sans-serif;
  font-size: 17px;
}

a:hover {
  border-bottom: 2px solid #fbe0c4;
}

.items {
  display: flex;
  justify-content: center;
  padding: 40px;
  margin-bottom: 0px;
  font-family: "RocknRoll One", sans-serif;
  letter-spacing: 1px;
  min-height: 75vh;
  color: white;
  font-size: 40px;
  background: hsl(210deg 30% 8%);
  width: 100%;
}

.pic {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 200px;
  width: 50%;
  height: 55vh;
  border-radius: 50%;
}

.dates {
  display: flex;
  height: 300px;
  flex-flow: column nowrap;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

h1 {
  font-size: 50px;
  color: wheat;
  margin-left: 75px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
  color: whitesmoke;
  margin-left: 75px;
  line-height: 30px;
}

p {
  font-size: 16px;
  margin-left: 70px;
  margin-top: 15px;
  width: 50%;
}

.btn-home {
  width: 50%;
  border-radius: 15px;
  background: #eeb76b;
  text-align: center;
  margin-top: 30px;
  cursor: pointer;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  margin-left: 70px;
}

.btn-home:hover {
  background: #ffe268;
}

.aboutme {
  width: 100%;
  min-height: 100vh;
  background: hsl(210deg 38% 15%);
  color: wheat;
  text-align: center;
  font-size: 40px;
  font-family: "RocknRoll One", sans-serif;
}

.top {
  padding: 20px 0px;
}

.abmdescription {
  color: whitesmoke;
  font-size: 20px;
  font-family: "RocknRoll One", sans-serif;
  height: 150px;
  margin-left: 10px;
  margin-top: 15px;
  padding: 0 350px;
  text-align: center;
  width: 100%;
}

.skills {
  background: hsl(210deg 38% 15%);
  color: wheat;
  font-size: 30px;
  font-family: "RocknRoll One", sans-serif;
  text-align: center;
  margin-top: 0;
  min-height: 100vh;
  width: 100%;
}

#menuCheck,
.menu-icon {
  display: none;
}

#menuCheck {
  width: 0;
  height: 0;
}

.menu-list {
  list-style: none;
  display: flex;
}

.menu-list li {
  display: inline-block;
  margin-right: 32px;
  cursor: pointer;
  transition: color 0.3s;
}

.menu-list li:hover {
  color: #fff;
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 100px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: "RocknRoll One", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
  color: #1b1a17;
  letter-spacing: 1px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.25),
    -5px -5px 30px 15px rgba(0, 0, 0, 0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.projects {
  background: hsl(210deg 58% 12%);
  color: wheat;
  font-size: 30px;
  font-family: "RocknRoll One", sans-serif;
  text-align: left;
  min-height: 100vh;
  width: 100%;
}

.projects h2 {
  line-height: 50px;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: rgba(0, 0, 0, 0.25);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all 0.3s;
}

@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}

.blog-slider__item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}

.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}

.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  box-shadow: 0px 10px 10px 1px #1b1a17;
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}

.blog-slider__img:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  opacity: 0.8;
}

.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all 0.3s;
}

@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}

@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}

.blog-slider__content {
  padding-right: 25px;
}

@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}

@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}

.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all 0.4s;
}

.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}

.blog-slider__title {
  font-size: 35px;
  font-weight: 700;
  color: wheat;
  margin-bottom: 25px;
}

.blog-slider__text {
  color: whitesmoke;
  margin-bottom: 30px;
  line-height: 1.5em;
  font-size: 20px;
}

.blog-slider__button {
  display: inline-flex;
  background: #34656d;
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  font-weight: 400;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
  font-size: 18px;
}

.blog-slider__button:hover {
  background: #02475e;
  border: 1px solid #5b8a72;
}

@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}

.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.blog-slider .swiper-pagination-custom,
.blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: yellow;
  opacity: 0.2;
  transition: all 0.3s;
}

.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #c5a880;
  height: 30px;
}

@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}

footer {
  background: #031520;
  color: wheat;
  height: 150px;
  padding: 15px 0px;
}

footer p {
  color: whitesmoke;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 90%;
}

.social-icons {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

footer button {
  background: #3b5998;
  border: 4px solid;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  height: 45px;
  margin: 8px;
  outline: none;
  transition: color 0.8s;
  width: 45px;
}

.linkedin {
  background: #cdd0cb;
  border-color: #0976b4;
}

.github {
  background: #cdd0cb;
  border-color: #313941;
}

.gmail {
  background: #cdd0cb;
  border-color: #e63c3c;
}

.fa-envelope {
  color: #1b1a17;
}

footer button:hover {
  animation: hoverAnimation 0.8s forwards;
}

@keyframes hoverAnimation {
  from {
    transform: scale(1) rotate(0);
  }

  to {
    transform: scale(1.2) rotate(360deg);
    background-color: #fff;
  }
}

.linkedin:hover {
  color: #0976b4;
}

.github:hover {
  color: #313941;
}

.gmail:hover {
  color: #dd4848;
}

/* Other media queries */

@media only screen and (min-width: 320px) and (max-width: 1220px) {
  label.logo {
    font-size: 32px;
    margin-left: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: hsl(210deg 70% 12%);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  header ul li {
    display: block;
    width: 100%;
    margin: 50px 0;
    line-height: 50px;
    margin-bottom: 20px;
  }

  header ul li a {
    font-size: 25px;
  }

  a:hover,
  a.active {
    background: none;
    color: #fbe0c4;
  }

  .items {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    justify-content: center;
    padding: 15px;
  }

  .pic {
    width: 100%;
    height: 300px;
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 20px;
  }

  .dates {
    font-size: 5px;
    margin-left: 0;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 30px;
  }

  .dates h1 {
    font-size: 40px;
    width: 100%;
    margin: 0;
    text-align: center;
  }

  .dates h3 {
    font-size: 25px;
    width: 100%;
    margin: 0;
    text-align: center;
    margin-top: 20px;
  }

  .dates p {
    font-size: 16px;
    margin: 0;
    margin-top: 20px;
    padding: 0 20%;
    text-align: center;
    width: 100%;
  }

  .btn-home {
    width: 50%;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-bottom: 20px;
  }

  .aboutme {
    width: 100%;
    min-height: 100vh;
    font-size: 20px;
    font-family: "RocknRoll One", sans-serif;
    text-align: center;
  }

  .abmdescription {
    color: whitesmoke;
    font-family: "RocknRoll One", sans-serif;
    font-size: 17px;
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 0 20px;
  }

  .skills {
    font-size: 25px;
    margin-top: 10px;
  }

  .projects {
    min-height: 85vh;
    padding: 10px 0;
  }

  .projects > h2 {
    font-size: 50px;
    width: 100%;
    text-align: center;
  }

  footer {
    background: #031520;
    height: 250px;
    color: wheat;
    font-family: "RocknRoll One", sans-serif;
  }

  footer p {
    padding: 20px 0px;
    display: flex;
    flex-flow: column wrap;
    color: whitesmoke;
    font-size: 20px;
    margin: auto;
  }
}

@media only screen and (min-width: 520px) and (max-width: 1220px) {
  .pic {
    padding: 0 25%;
  }

  .abmdescription {
    padding: 0 20%;
  }

  .dates p {
    font-size: 16px;
    padding-left: 20%;
    width: 100%;
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }
}

/* Menú mobile hamburger*/

@media (max-width: 920px) {
  header::before {
    content: "";
    position: fixed;
    top: -100px;
    left: -100px;
    width: 200px;
  }

  #menuCheck,
  .menu-icon {
    display: block;
  }

  .menu-icon {
    color: #fff;
    position: relative;
    z-index: 2;
  }

  .menu-list {
    position: fixed;
    color: #fff;
    left: 100%;
    width: 150vh;
    height: 150vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 1.1s, left 1.1s, transform 1.1s;
    margin-top: -100px;
  }

  #menuCheck:checked ~ .menu-list {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-list li {
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 2px;
    margin-bottom: 40px;

    opacity: 0;
    transition: opacity 1s;
  }

  #menuCheck:checked ~ .menu-list li {
    opacity: 1;
  }

  .menu-icon {
    position: fixed;
    width: 100px;
    height: 78px;
    border-radius: 50px;
    font-size: 35px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }

  label .fa-bars,
  #menuCheck:checked ~ label .fa-times {
    display: block;
  }

  label .fa-times,
  #menuCheck:checked ~ label .fa-bars {
    display: none;
  }
}
